@import "reset.css";
@import "weapons.css";
@import "items.css";
@import "quotes.css";

.hidden {
    display: none;
}

.main-box {
    justify-content: center;
    align-items: center;
}

.clock-box {
    display: flex;
    justify-content: center;
}

.location {
    display: flex;
    justify-content: space-evenly;
}

#w-info {
    margin: 5px 0px;
}

.location div:nth-child(2){
    position:absolute;
}

#random-bg img{
    width: 1040px;
    height: 540px;
}

#target-img img{
    width: 500px;
    height: 540px;
}

#todo-form {
    justify-content: center;
}

#todo-form-input {
    width: 300px;
    height: 30px;
}

.weapons-box,
.items-box,
.targets-box,
.todolist-bg {
    width: 1040px;
    height: 540px;
    border: 1px solid black;
}

.tg-box {
    display: flex;
}

.middle-box {
    display: flex;
    justify-content: center;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btns div {
    width: 120px;
    height: 80px;
    border: 2px solid black;
    margin-left: 10px;
}

.btn {
	margin: 0;
	padding: 0;
	background-color: transparent;
	color: black;
	border: 1px solid black;
}