@import "reset.css";
@import "weapons.css";
@import "items.css";
@import "quotes.css";

body {
    background-color: black;
    overflow: hidden;
}

.hidden {
    display: none;
}

.add-background {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),url("../img_bg/88.jpg");
    z-index: 1;
}

.activated {
    color: greenyellow;
}

.login-box {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url("../img_bg/44.jpg");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position-x: center;
    background-position-y: 15%;
    z-index: 3;
}

.login-box-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 600px;
}

.login-box-input {
    margin: 30px 0px;
}

.login-box-input input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(226, 139, 68, 0.3);
    border: 2px solid rgb(255, 102, 0);
    color: white;
}

.login-box-input input::placeholder{
    color: white;
    opacity: 0.7;
    text-align: center;
}

#lbi-submit {
    width: 314px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.main-box {
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.clock-box {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 15px;
    color: white;
}

.location {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    color: white;
}

.location div{
    width: 200px;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

#random-bg img{
    width: 1040px;
    height: 540px;
}

#target-img img{
    width: 500px;
    height: 540px;
}

.tg-all-box {
    background-color: black;
}

#todo-form {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 14px;
}

#todo-form-input {
    width: 300px;
    height: 24px;
    border-radius: 17px;
    padding: 0px 5px;
}

#todo-form-input::placeholder {
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: 600;
}

#todolist-main-subtitle-box {
    width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.weapons-box,
.items-box,
.targets-box,
.todolist-bg,
.background-box-bg {
    width: 1040px;
    height: 540px;
    border: 2px solid black;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url("../img_bg/22.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.todolist-bg {
    background: black ;
}

.todolist-box{
    display: flex;
}

.todolist-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    height: 540px;
}

.todolist-things {
    width: 500px;
    padding: 5px;
    height: 540px;
    overflow-y:auto;
}

.todolist-things span{
    font-size: 24px;
    color: white;
    will-change: transform;
    animation: things 3s infinite;
}

@keyframes things {
    0%{
        color: white;
    }
    50%{
        color: rgb(209, 226, 114);
    }
    100%{
        color: white;
    }
}

.todolist-things button {
    font-size: 20px;
    margin: 10px;
    background-color: transparent;
    color: white;
    border:none;
}

.order-from-hq {
    font-size: 21px;
    margin: 0px 5px 20px 5px;
    color: white;
}

.order-from-hq:first-child {
    margin-top: 15px;
    animation: orderFromHQ 1.5s infinite;
}

@keyframes orderFromHQ{
    0%{
        color: white;
    }
    50%{
        color: rgb(221, 27, 27);
    }
    100%{
        color: white;
    }
}

.order-from-hq:nth-child(4) {
    animation: orderFromHQ2 1.5s infinite;
}

@keyframes orderFromHQ2{
    0%{
        color: white;
    }
    50%{
        color: rgb(27, 63, 221);
    }
    100%{
        color: white;
    }
}

#todolist-main-title {
    font-size: 22px;
    font-weight: 800;
    margin-top: 5px;
    color: white;
}

.tg-box {
    display: flex;
}

.tg-size-box {
    color:white;
}

.middle-box {
    display: flex;
    justify-content: center;
}

.btns {
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: space-between;
    margin-left: 2px;
}

.btns div {
    width: 120px;
    height: 80px;
    border: 2px solid black;
    margin-left: 10px;
}

.btn {
	margin: 0;
	padding: 0;
	background-color: transparent;
	color: black;
	border: 1px solid black;
}

#todo-btn,
#weapons-btn,
#items-btn,
#targets-btn,
#area-btn {
    height:105px;
    font-size: 18px;
    background-color: rgb(86, 117, 53);
    color: white;
    border-radius: 7px;
}

.area-box-size{
    position: relative;
}

#random-bg-title {
    position:absolute;
    font-size: 25px;
    font-weight: 800;
    top: 5%;
    left: 3%;
    color: whitesmoke;
}

#todo-btn:hover,
#weapons-btn:hover,
#items-btn:hover,
#targets-btn:hover,
#area-btn:hover {
    background-color: rgb(37, 54, 2);
    animation: btnHover 1.5s infinite;
}

@keyframes btnHover {
    0%{
        color:white;
    }
    16%{
        color:rgb(161, 37, 37);
    }
    32%{
        color:rgb(34, 72, 175);
    }
    48%{
        color: rgb(161, 17, 137);
    }
    64%{
        color:rgb(164, 172, 52);
    }
    80%{
        color: rgb(218, 151, 64);
    }
}

.clicked{
    will-change: transform;
    animation: btnBeauty 1s infinite;
}

@keyframes btnBeauty {
    0%{
        transform: none;
        background-color: rgb(40, 63, 16);
        color: white;
    }
    50%{
        transform: scale(1.1);
        background-color: rgb(146, 204, 112);
        color: black;
    }
    100%{
        transform: none;
        background-color: rgb(40, 63, 16);
        color: white;
    }
}

.music-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.bgm {
    height: 40px;
    width: 240px;
}

.mbs-btn button{
    background-color: black;
    color:rgb(96, 192, 18);
}

#music-singer {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(68, 121, 219);
}

#music-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: rgb(63, 40, 119);
}

#music-singer {
    animation: musicTitleColor 6.7s infinite;
}

#music-title {
    animation: musicNameColor 7.5s infinite;

}

.msbg,
.mtbg {
    width: 240px;
    animation: musicInfo 3s infinite linear;
}

@keyframes musicInfo {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(10%);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes musicTitleColor {
    0%{color: orange;}
    10%{color: purple;}
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}

@keyframes musicNameColor {
    0%{color: green;}
    10%{color: purple;}
    20%{color: cyan;}
    30%{color: deeppink;}
    40%{color: dodgerblue;}
    50%{color: coral;}
    60%{color: orange;}
    70%{color: red;}
    80%{color: cadetblue;}
    90%{color: yellow;}
    100%{color: green;}
}

#lbi-submit{
    animation: comeOn 2s infinite;
}

@keyframes comeOn {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}